name: Java CI with Maven

on:
 push:
   branches: [ master ]

jobs:
 build:

   runs-on: self-hosted

   steps:
   - uses: actions/checkout@v2
   # - name: Set up JDK 17
   #   uses: actions/setup-java@v1
   #   with:
   #     java-version: 17
  #  - name: Build with Maven
  #    run: /spring-petclinic mvnw package
